.wp-block-gbt-portfolio {
  margin-bottom: 2.5rem; }
  .wp-block-gbt-portfolio.full {
    width: 100vw;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .wp-block-gbt-portfolio.full .portfolio_item_img_container {
      max-height: 422px; }
    @media all and (min-width: 1024px) {
      .wp-block-gbt-portfolio.full .portfolio_3_col_item_wrapper {
        width: 31.6%; } }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      .wp-block-gbt-portfolio.full .portfolio_3_col_item_wrapper {
        width: 47%;
        margin-right: 17px; } }
    @media all and (min-width: 1024px) {
      .wp-block-gbt-portfolio.full .portfolio_4_col_item_wrapper {
        width: 23%; } }
    @media all and (min-width: 1025px) and (max-width: 1313px) {
      .wp-block-gbt-portfolio.full .portfolio_4_col_item_wrapper {
        width: 31.6%; } }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      .wp-block-gbt-portfolio.full .portfolio_4_col_item_wrapper {
        width: 47%;
        margin-right: 17px; } }
    @media all and (min-width: 1024px) {
      .wp-block-gbt-portfolio.full .portfolio_2_col_item_wrapper {
        width: 47%; } }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      .wp-block-gbt-portfolio.full .portfolio_2_col_item_wrapper {
        margin-right: 17px; } }
  @media all and (min-width: 960px) {
    .wp-block-gbt-portfolio.wide {
      width: 75vw;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }
  .wp-block-gbt-portfolio.wide .portfolio_item_img_container {
    max-height: 345px; }
  @media all and (min-width: 1024px) {
    .wp-block-gbt-portfolio.wide .portfolio_3_col_item_wrapper {
      width: 30%; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .wp-block-gbt-portfolio.wide .portfolio_3_col_item_wrapper {
      width: 47%;
      margin-right: 17px; } }
  @media all and (min-width: 1024px) {
    .wp-block-gbt-portfolio.wide .portfolio_2_col_item_wrapper {
      width: 47%; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .wp-block-gbt-portfolio.wide .portfolio_2_col_item_wrapper {
      margin-right: 17px; } }
  @media all and (min-width: 1024px) {
    .wp-block-gbt-portfolio.wide .portfolio_4_col_item_wrapper {
      width: 23%; } }
  @media all and (min-width: 1025px) and (max-width: 1313px) {
    .wp-block-gbt-portfolio.wide .portfolio_4_col_item_wrapper {
      width: 30%; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .wp-block-gbt-portfolio.wide .portfolio_4_col_item_wrapper {
      width: 47%;
      margin-right: 17px; } }

.wp-block-gbt-portfolio.wide .portfolio_section,
.wp-block-gbt-portfolio.full .portfolio_section {
  width: 100%; }
  @media all and (min-width: 768px) {
    .wp-block-gbt-portfolio.wide .portfolio_section,
    .wp-block-gbt-portfolio.full .portfolio_section {
      padding-left: 10px; } }
