.wp-block-gbt-portfolio
{
	margin-bottom: 2.5rem;

	&.full
	{
		width: 100vw;
		margin-left: 50%;
		transform: translateX(-50%);

		.portfolio_item_img_container
		{
		    max-height: 422px;
		}

		.portfolio_3_col_item_wrapper
		{
			@media all and (min-width: 1024px) {
				width: 31.6%;
			}

			@media all and (min-width: 768px) and (max-width: 1024px) {
				width: 47%;
     			margin-right: 17px;
			}
		}

		.portfolio_4_col_item_wrapper
		{
			@media all and (min-width: 1024px) {
				width: 23%;
			}

			@media all and (min-width: 1025px) and (max-width: 1313px) {
				width: 31.6%;
			}

			@media all and (min-width: 768px) and (max-width: 1024px) {
				width: 47%;
     			margin-right: 17px;
			}
		}

		.portfolio_2_col_item_wrapper
		{
			@media all and (min-width: 1024px) {
				width: 47%;
			}

			@media all and (min-width: 768px) and (max-width: 1024px) {
     			margin-right: 17px;
			}
		}
	}

	&.wide
	{
		@media all and (min-width: 960px) {
			width: 75vw;
			margin-left: 50%;
			transform: translateX(-50%);
		}

		.portfolio_item_img_container
		{
		    max-height: 345px;
		}

		.portfolio_3_col_item_wrapper
		{
			@media all and (min-width: 1024px) {
				width: 30%;
			}

			@media all and (min-width: 768px) and (max-width: 1024px) {
				width: 47%;
     			margin-right: 17px;
			}
		}

		.portfolio_2_col_item_wrapper
		{
			@media all and (min-width: 1024px) {
				width: 47%;
			}

			@media all and (min-width: 768px) and (max-width: 1024px) {
     			margin-right: 17px;
			}
		}

		.portfolio_4_col_item_wrapper
		{
			@media all and (min-width: 1024px) {
				width: 23%;
			}

			@media all and (min-width: 1025px) and (max-width: 1313px) {
				width: 30%;
			}

			@media all and (min-width: 768px) and (max-width: 1024px) {
				width: 47%;
     			margin-right: 17px;
			}
		}
	}
}

.wp-block-gbt-portfolio.wide,
.wp-block-gbt-portfolio.full
{
	.portfolio_section
	{
		width: 100%;

	    @media all and (min-width: 768px) {
			padding-left: 10px;
		}
	}
}