.single-portfolio .global_content_wrapper {
	margin:70px auto 50px auto;
}

.portfolio_related {
	margin:20px 0 30px 0;
}

.portfolio_section .mix {
    display: none;
}

.entry-content-portfolio {
	margin-top:4px;
}

.entry-content-portfolio img {
	height:auto;
}

.portfolio_content_nav #nav-below .nav-previous-single,
.portfolio_content_nav #nav-below .nav-next-single
{
	width:467px;
}

/*from the portfolio*/

.from_the_portfolio {
	width:960px;
}

.from_the_portfolio_item  {	
	width:220px;
	float:left;
	margin:10px 20px 20px 0;
	list-style:none !important;
	text-align:center;
}

.from_the_portfolio_img {
	width:220px;
	height:165px;
	overflow:hidden;
	display:block;
}

.from_the_portfolio_img img {
	width:100%;
	height:auto;
}

.from_the_portfolio_title {
	color:#000;
}

.from_the_portfolio_title h3 {
	padding:10px 0;
	margin:0;
}

.from_the_portfolio_cats {
	padding:10px 0;
	margin:0;
	font-size:13px;
	color:#8d8d8d;
}

/* recent_work_filtered */

.shortcode_portfolio {
	text-align:center;
	width: 960px;
}

.vc_column_container .shortcode_portfolio, 
.wpb_wrapper .shortcode_portfolio {
    margin-left: -15px;
}

.page_full_width .shortcode_portfolio {
    width: auto;
    text-align: center;
}

.boxed-row .shortcode_portfolio {
	width:960px;
	text-align:left;
}

.page_full_width .boxed-row .shortcode_portfolio {
    margin-left: 0;
}

.portfolio_section {
	margin-top:30px;
}

.portfolio_section .items_wrapper {
	min-height:300px;
}

.portfolio_title {
	text-align:center;
	font-size: 65px !important;
	width:100% !important;
	max-width:100% !important;
	margin-bottom: 30px !important;
}

.portfolio_categories,
.entry-content ul.portfolio_categories
{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
	margin:20px 0;
}

.portfolio_categories li {
	display:inline-block;
	margin:0 4px 10px 4px;
	padding:5px 10px !important;
	border:1px solid #ccc;
	text-transform:uppercase;
	font-weight:900;
	font-size:12px !important;
	color:#8d8d8d !important;
	background:#fff;
	cursor:pointer;
	transition: 0.3s;
	-webkit-transition: 0.3s;
}

.portfolio_categories li:hover {
	border:1px solid #000;
	color:#fff !important;
	background:#000;
}

.portfolio_1_col_item_wrapper {
	width:940px;
	margin-right:17px;
	display:inline-block;
	vertical-align:top;
}

.portfolio_2_col_item_wrapper {
	width:460px;
	margin-right:17px;
	display:inline-block;
	vertical-align:top;
}

.portfolio_3_col_item_wrapper {
	width:300px;
	margin-right:17px;
	display:inline-block;
	vertical-align:top;
}

.portfolio_4_col_item_wrapper {
	width:220px;
	margin-right:17px;
	display:inline-block;
	vertical-align:top;
}

.tax-portfolio_filter .portfolio_2_col_item_wrapper {
    width: 451px;
}

.tax-portfolio_filter .portfolio_3_col_item_wrapper {
    width: 293px;
}

.tax-portfolio_filter .portfolio_4_col_item_wrapper {
    width: 215px;
}

@media screen and (max-width: 959px) {
	.tax-portfolio_filter .portfolio_2_col_item_wrapper,
	.tax-portfolio_filter .portfolio_3_col_item_wrapper,
	.tax-portfolio_filter .portfolio_4_col_item_wrapper {
	    width: 100%;
	}
}

.portfolio_item {
	width:100%;
	margin-bottom:30px !important;
	text-align:center;
}

.portfolio_item h3 {
	display: block;
	font-size: 18px;
	line-height: 1.3em;
	font-weight: normal;
}

.portfolio_1_col_item_wrapper .portfolio_item_img_container {
	width:100%;
	max-height:300px;
	overflow:hidden;
}

.portfolio_2_col_item_wrapper .portfolio_item_img_container {
	width:100%;
	max-height:350px;
	overflow:hidden;
}

.portfolio_3_col_item_wrapper .portfolio_item_img_container {
	width:100%;
	max-height:230px;
	overflow:hidden;
}

.portfolio_4_col_item_wrapper .portfolio_item_img_container {
	width:100%;
	max-height:169px;
	overflow:hidden;
}

.portfolio-title,
.portfolio_item_img_container
{
   padding:10px 0;
}

.portfolio_item img {
	width:100%;
	height:auto;
}

.portfolio_item a {
	color:#000;
	display:block;
	
}

.portfolio_item a:hover {
	color:#b39964;
}

.portfolio_item h3 {
	padding:0;
}

.portfolio_sep {
	width:60px;
	height:2px;
	background:#b39964;
	margin:0 auto;
}

.portfolio_item_cat {
	color:#8d8d8d;
	text-transform:capitalize;
	padding:10px 0;
}

.portfolio_detail_img_wrapper {
	margin-bottom:40px;
}

.portfolio_detail_img_wrapper img {
	max-width:590px !important;
	height:auto;
}

.portfolio_item_title {
	text-transform:none !important;
	margin-bottom:25px;
}

.aside_portfolio {
	border:0;
	margin-bottom:30px;
}

.portfolio_details_sep {
	width:60px;
	height:2px;
	background:#b39964;
	margin:15px 0;
	clear:both;
}

.portfolio_details_item_cat {
	color:#8d8d8d;
	text-transform:uppercase;
	padding:10px 0 20px 0;
	font-weight:900;
	font-size:12px;
}

.portfolio_details_item_cat span {
	color:#000;
}

@media screen and (max-width: 959px) {
	.portfolio_1_col_item_wrapper {
		width:100%;
		height:auto;
		margin:0;
	}
	
	.portfolio_2_col_item_wrapper {
		width:100%;
		height:auto;
		margin:0;
	}
	
	.portfolio_3_col_item_wrapper {
		width:100%;
		height:auto;
		margin:0;
	}
	
	.portfolio_4_col_item_wrapper {
		width:100%;
		height:auto;
		margin:0;
	}
	
	.portfolio_1_col_item_wrapper .portfolio_item_img_container {
		max-height:400px;
	}
	
	.portfolio_2_col_item_wrapper .portfolio_item_img_container {
		max-height:400px;
	}
	
	.portfolio_3_col_item_wrapper .portfolio_item_img_container {
		max-height:400px;
	}
	
	.portfolio_4_col_item_wrapper .portfolio_item_img_container {
		max-height:400px;
	}
	
	.aside_portfolio {
		padding-left:0;
	}
}

@media screen and (min-width: 960px) {
	.aside_portfolio {
	    padding-left:20px;
	}
}

@media screen and (max-width: 1024px) {
	.shortcode_portfolio
    {
		width: 960px;
    }
}

@media only screen and (min-width: 720px) and (max-width: 959px) {
	.shortcode_portfolio
	{
		width:700px !important;
		margin:0 auto !important;
		float:none;
	}

	.from_the_portfolio {
		width:720px;
	}

	.aside_portfolio {
		padding-left:20px;
	}

	.portfolio_content_nav #nav-below .nav-previous-single,
	.portfolio_content_nav #nav-below .nav-next-single
	{
		width:347px;
	}
}

@media only screen and (max-width: 719px) {
	.from_the_portfolio {
		width:100%;
		text-align:center;
	}

	.from_the_portfolio_item  {	
		float:none;
		display:inline-block;
		margin:10px 0 20px 0 !important;
	}

	.portfolio_content_nav #nav-below .nav-previous-single,
	.portfolio_content_nav #nav-below .nav-next-single
	{
		width:100%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 719px) {
	.from_the_portfolio_item  {	
		float:none;
		display:inline-block;
		margin:10px 20px 20px 0 !important;
	}
}